---
---

@import "{{ site.theme }}";

// Define variables for dark mode
$dark-background-color: #333;
$dark-text-color: #fff;

// Default styles
.inner {
  width: 60%;
}

// Dark mode styles
@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }
}
